.btn {
  display: inline-block;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-text);
  font-weight: 700;
  font-family: var(--font-primary);
  padding: 0.8rem 1.6rem;
  border-radius: var(--border-radius);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;

  &--primary {
    background-color: var(--color-accent);
    color: var(--color-text);
  }
  &--dark {
    background-color: var(--color-dark);
    color: #fff;
  }
}
