.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;

  &--content {
    max-width: var(--container-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    width: 100%;
  }
}

.section-padding {
  --section-padding: 4rem;
  &:first-child {
    padding-top: calc(var(--section-padding) + 2rem);
  }
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
