.nav {
  --padding: 1rem;
  width: 100%;
  z-index: 20;
  position: sticky;
  top: 0;
  background-color: var(--color-light);
  color: var(--color-dark);

  &.dark {
    background-color: var(--color-dark);
    color: var(--color-light);
  }

  &__container {
    max-width: var(--container-width);
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 0.5fr;
    align-items: center;
    gap: 1rem;
    height: var(--navigation-height);

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1.5fr 1fr;
    }
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: calc(var(--navigation-height) - var(--padding) * 2);
      width: auto;
    }
  }

  &__search {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__cta {
    display: flex;
    justify-content: flex-end;

    @media screen and (max-width: 1200px) {
      display: none;
    }
  }
}
.navMenu {
  &__container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__list-container {
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      position: fixed;
      gap: 2rem;
      top: var(--navigation-height);
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--color-light);
      transform: translateX(100%);
      transition: transform 0.3s ease-in-out;
      z-index: 10;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.5rem;
    font-size: 1.8rem;
    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem 0;
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 1rem;
    @media screen and (max-width: 1200px) {
      font-size: 1.5rem;
    }

    .btn--link {
      padding: 0;
    }

    .arrowIcon {
      transform: translateY(-2px);
      height: 20px;
      width: 20px;
      @media screen and (max-width: 1200px) {
        height: 2rem;
        width: 2rem;
      }
    }

    a,
    span {
      display: flex;
      align-items: center;
      font-family: var(--font-primary);
      font-weight: 700;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }

  &__link {
    &.active {
      position: relative;
      &::after {
        --size: 6px;
        position: absolute;
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        content: '';
        background-color: var(--color-accent);
        top: 3px;
        right: -8px;
      }
    }
  }
}

.menuButton {
  --thickness: 2px;
  margin-left: auto;
  display: none;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  width: 30px;

  @media (max-width: 1200px) {
    display: block;
    flex-direction: column;
    justify-content: space-between;

    & > span {
      &:first-child,
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
        position: absolute;
        width: 30px;
        right: 0;
        height: var(--thickness);
        background-color: var(--color-text);
        transition: all 0.3s ease-in-out;
      }

      &:first-child {
        top: 0;
      }

      &:nth-child(2) {
        top: calc(50% - var(--thickness) / 2);
        transition-delay: 0.3s;
      }

      &:last-child {
        bottom: 0;
      }
    }
  }

  &.open {
    & > span {
      &:first-child {
        transform: rotate(-135deg);
        top: calc(50% - var(--thickness) / 2);
      }

      &:nth-child(2) {
        transform: translateX(-20px);
        opacity: 0;
        transition-delay: 0s;
      }

      &:last-child {
        transform: rotate(135deg);
        bottom: calc(50% - var(--thickness) / 2);
      }
    }

    @media screen and (max-width: 1200px) {
      & ~ .navMenu {
        &__list-container {
          transform: translateX(0);
        }
      }
    }
  }
}

.navigationsubmenu {
  position: absolute;
  right: 0;
  height: auto;
  grid-template-rows: 0fr;
  transition: all 0.25s ease-in-out;
  z-index: 10;
  background-color: var(--color-light);
  opacity: 0;
  transform: translateY(-10px);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;

  &:not(.open) {
    height: 0;
    overflow: hidden;
  }
  @media screen and (max-width: 1200px) {
    display: grid;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    & > li > * {
      padding: 0.5rem 1rem;
      margin: 0.25rem;
      border-radius: 8px;

      &:hover {
        background-color: var(--color-accent);
      }
    }
  }

  &.open {
    grid-template-rows: 1fr;
    height: auto;
    transform: translateY(0);
    opacity: 1;
  }
}

.mobile-sub-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

body.nav-open {
  overflow: hidden;
}
