div.apidocContentWrapper {
  word-wrap: 'break-word';

  /*change headings*/
  .add {
    color : green;
  }

  & .mod {
    color : orange;
  }

  .rem {
    color : red;
  }

  .breaking {
    background-color : red;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    white-space: nowrap;
    border-radius: 4px;
  }
}

.apidocSidebarLink {
  padding-bottom: 0.5rem;
  color: #428bca;
  font-size: 1rem;
}

.apidocSidebarDesc {
  padding: 0 2rem;
  font-size: 0.9rem;
  overflow: hidden;
  word-wrap: break-word;
}
