.documentCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.75rem;
  transition: all 0.25s ease-out;

  &:hover {
    border: 1px solid var(--color-accent);
  }

  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.875rem;
  }
}
