.documentCard {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.25rem 1.25rem;

  h3 {
    font-size: 1.25rem;
  }
  p {
    font-size: 0.875rem;
  }
}
