.featureCard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 4rem 5%;

  @media screen and (max-width: 992px) {
    flex-direction: column;
    gap: 5rem;
  }

  &__content {
    flex: 1;
    display: flex;
    gap: 2.5rem;
    flex-direction: column;

    & > h3 {
      font-size: 1.625rem;
    }

    &-item {
      display: flex;
      gap: 0rem 1.5rem;
      &-icon {
        width: 4rem;
        height: 4rem;
        background-color: #000;
        border-radius: 50%;
        overflow: hidden;
        flex: 0 0 auto;
      }
      &-text {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;
        & > h4 {
          font-size: 1.125rem;
        }
      }
    }
  }
  &__image {
    flex: 1 0;
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      aspect-ratio: 1/1;
      border-radius: 50%;
      object-fit: cover;
      margin-left: auto;
    }
  }
}

.flexRowReverse {
  flex-direction: row-reverse;

  & > .featureCard__image img {
    margin-right: auto;
    margin-left: unset;
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
  }
}
