.footer {
  color: var(--color-light);
  position: relative;
  margin-top: 6rem;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  &__wrapper {
    background-color: #000;
  }

  &__wave {
    width: 100%;
    margin-bottom: -2px;
  }

  &__container {
    max-width: var(--container-content-width);
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-auto-flow: dense;
    gap: 4rem;

    @media screen and (max-width: 1280px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contact,
  &__sitemap,
  &__social,
  &__community {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @media screen and (max-width: 1280px) {
      align-items: center !important;
    }
  }

  &__sitemap {
    &-links {
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
      gap: 0.5rem 1rem;
      column-gap: 1rem;
      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-auto-flow: row;
      }

      // &-item a {
      //   padding: 0.5em 0;
      // }
    }
  }

  &__social {
    @media screen and (min-width: 1280.98px) {
      margin-left: auto;
      margin-right: auto;
    }

    &-links {
      display: flex;
      gap: 1.25rem;
    }
  }

  &__community {
    @media screen and (min-width: 1280.98px) {
      align-items: flex-end;
      margin-left: auto;
      h3 {
        margin-right: auto;
      }
    }

    img {
      max-width: 195px;
    }
  }
}
