.hero {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  &__container {
    aspect-ratio: 16/9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media screen and (max-width: 992px) {
      min-height: 100vh;
      align-items: flex-start;
      aspect-ratio: unset;
      padding: 4rem 0;
    }
  }

  &__content {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    gap: 10vmin;
    z-index: 5;

    & > *:first-child {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2.5rem;
    }
    & > *:nth-child(2) {
      display: flex;
      align-items: flex-start;
      flex: 1;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    & > * {
      flex: 1;
    }
  }

  &__title {
    font-size: clamp(2.5rem, 7vmin, 5rem);
    line-height: 1.1;
  }

  &__imageContainer {
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: top;
    }
  }
}

.blobs {
  & > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
  }
}
