.hero {
  // padding: calc(var(--navigation-height) + 1rem) 0
  //   calc(var(--navigation-height) + 1rem + var(--navigation-height)) 0;
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 992px) {
      aspect-ratio: unset;
    }
    &--small {
      @extend .hero__container;
      transform: none;
      min-height: unset;
      aspect-ratio: unset;
      justify-content: flex-start;

      img {
        min-height: 100%;
        object-position: center;
        object-fit: cover;
      }
    }
  }

  &__content {
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    gap: 10vmin;
    z-index: 5;

    &--small {
      @extend .hero__content;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    & > *:first-child {
      flex: 1.5;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 2.5rem;
    }
    & > *:nth-child(2) {
      display: flex;
      align-items: flex-start;
      flex: 1;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
    }
    & > * {
      flex: 1;
    }
  }

  &__title {
    font-size: clamp(2.5rem, 7vmin, 54px);
    line-height: 1.1;
  }

  &__imageContainer {
    img {
      aspect-ratio: 16/9;
      object-fit: cover;
      object-position: top;
    }
  }
}

.blobs {
  position: absolute;
  width: 100%;
  height: 100%;
  & > img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0, -50%);
  }
}
