.imageCard {
  border-radius: 12px;
  background-color: var(--color-light);
  color: var(--color-text);
  overflow: hidden;
  box-shadow: 10px 10px 20px 0px #0000001a;
  margin-bottom: 20px;

  &__image {
    width: 100%;
    img {
      width: 100%;
      height: auto;
      min-height: 214px;
      object-fit: cover;
      aspect-ratio: 16 / 9;
    }
  }
  &__content {
    padding: 1.5rem;

    h3 {
      margin-bottom: 1rem;
    }
  }
}
