@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';
@import 'variables';
@import 'buttons';
@import 'layout';
@import 'navigation';
@import 'md-styles';

/* @media (prefers-color-scheme: dark) {
  :root {
    --color--text: #fff;
    --color--dark: #fff;
    --color--primary: #fff;
    --color--secondary: #000;
    --color--accent: #ffd400;
  }
} */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: var(--font-secondary);
  font-weight: 400;
  color: var(--color--text);
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color--text);
  text-decoration: none;
}

input:active,
input:focus {
  outline: 1px solid var(--color--accent);
  border: 1px solid var(--color--accent) !important;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

img {
  max-width: 100%;
  display: block;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
  font-weight: 700;
}

.text-content {
  text-align: justify;
  display: block;
  margin-block-start: 1.5em;
  margin-block-end: 1.5em;
}
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.625rem;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.skeleton-text {
  width: 100%;
  height: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;

  &__header {
    height: 2rem;
  }
  &__body {
    width: 75%;
  }
  &__document-card {
    border-radius: 8px;
    height: 72px;
    margin-bottom: 2rem;
  }
}

.layout--docs {
  overflow: hidden;
  word-break: break-word;
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 3fr;
  @media screen and (max-width: 1024px) {
    grid-template-columns: 1fr;
  }
}

.content-wrapper {
  /*bring this further up so it's closer to balloons.*/
  margin-top: -30vh;
  /*make sure this appears on top of balloons*/
  z-index: 2;
  /*make sure we can use z-index and thus sure this stays on top of the balloons*/
  position: relative;
}

.content-wrapper.decorate-links {
  a[href]:not(.btn) {
    position: relative;
    text-decoration: underline;
    text-decoration-color: var(--color-accent);
    text-decoration-thickness: 3px;
    text-underline-offset: 0.25rem;
  }
}

.content-grid,
.full-width {
  grid-template-columns:
    [full-width-start]
    minmax(var(--content-padding), 1fr)
    [content-start]
    min(
      calc(100% - (var(--content-padding) * 2)),
      var(--container-content-width)
    )
    [content-end]
    minmax(var(--content-padding), 1fr)
    [full-width-end];
  display: grid;
  gap: 6rem 0;
}

.content-grid > * {
  grid-column: content;
}
.full-width > * {
  grid-column: content;
}

.full-width {
  grid-column: full-width;
}

.content {
  grid-column: content;
}
