.nav {
  height: 7.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;

  &.dark {
    background-color: var(--color-dark);
    color: #fff;
  }

  &__container {
    max-width: var(--container-width);
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr 2fr 0.5fr;
    @media screen and (max-width: 992px) {
      grid-template-columns: 1.5fr 1fr;
    }
    align-items: center;
    gap: 1rem;
    height: 100%;
  }

  &__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      height: 80px;
      width: auto;
    }
  }

  &__cta {
    @media screen and (min-width: 992px) {
      display: block;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
