.search {
  display: flex;
  justify-content: center;

  &__input-container {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: 0rem;
      transform: translate(-50%, calc(-50% - 1px));
      top: 50%;
      width: 32px;
      height: 32px;
      background-image: url('/assets/icons/search.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  input {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 0.8rem 2.2rem;
    padding-right: calc(1rem + 32px + 0.5rem);
    width: 300px;

    &:focus,
    &:active {
      outline: 1px solid var(--color-accent);
      border: 1px solid var(--color-accent);
    }
  }
}
