.usedBy {
  background-color: #f4f1de;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 0;

  &__title {
    font-size: 1.375rem;
    text-align: center;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__wrapper {
    max-width: 100vw;
  }

  &__container {
    max-width: 100vw;
    display: flex;
    overflow: hidden;
    width: 100%;
    mask-image: linear-gradient(
      to right,
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 10%,
      hsl(0 0% 0% / 1) 90%,
      hsl(0 0% 0% / 0)
    );
  }

  &__list {
    --duration: 10s;
    --gap: 1rem;
    display: flex;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    align-items: center;
    animation: marquee var(--duration) linear infinite;

    &-item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 240px;
      overflow: hidden;

      img {
        height: auto;
        max-height: 100%;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
